header{
    background-color: #e5cbb4;
}
main{
    background-image: url("https://cutewallpaper.org/21/cute-husky-wallpaper/Siberian-Husky-Watercolor-Painting-Canidae-Siberian-Husky-.png");
    background-repeat: no-repeat;
    background-size: 800px;
    height: 900px;
    
}